---
import { en, zh } from "~/config"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import { getTagsWithCountsByLocale } from "~/utils"
import { getLanguagePaths } from "~/utils/langs"

export function getStaticPaths() {
  return getLanguagePaths()
}

const lang = getLangFromUrl(Astro.url)
const config = lang === "zh" ? zh : en
const t = useTranslations(lang)
const tags = await getTagsWithCountsByLocale(lang)
---

<MainLayout
  title="Tags"
  description={`${config.meta.title} - All tags`}
  ogImage="/preview.png"
>
  <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3">
    {
      tags.map(([tagName, tagCount]) => {
        return (
          <li>
            <a
              class="inline visited:text-purple-500/90 hover:underline"
              href={`/${lang}/tags/${encodeURIComponent(tagName)}/`}
            >
              #{tagName}
              <span class="text-sm text-gray-500 dark:text-gray-400">
                ({tagCount})
              </span>
            </a>
          </li>
        )
      })
    }
  </ul>
</MainLayout>
