---
import { common } from "~/config"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<nav
  class="mt-4 mb-10 flex gap-4 overflow-x-auto text-lg whitespace-nowrap [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
  role="navigation"
  aria-label="Main navigation"
>
  {
    common.navigations.map((nav) => {
      const { labelKey, pathName } = nav
      const navPath = `/${lang}${pathName ? `/${pathName}/` : ""}`
      const navLabel = t(labelKey as any)

      return (
        <a
          href={navPath}
          class="hover:underline hover:underline-offset-4"
          aria-label={navLabel}
          title={navLabel}
          rel={navLabel}
        >
          {navLabel}
        </a>
      )
    })
  }
</nav>
