---
import { getLangFromUrl } from "~/i18n/utils"
import { GoogleAnalytics } from "astro-google-analytics"
import { defaultLanguage, en, zh } from "~/config"
import "~/styles/tailwind.css"
import { langs } from "~/i18n/ui"

const {
  title,
  description,
  ogImage,
  ogType = "website",
  noindex = false,
} = Astro.props
const ogImageURL = new URL(ogImage, Astro.site).href
const permalink = new URL(Astro.url.pathname, Astro.site).href
const lang = getLangFromUrl(Astro.url)
const config = lang === "zh" ? zh : en
const canonicalURL = new URL(Astro.url.pathname, Astro.site).href
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" href={config.meta.favicon} />
    <title>
      {
        title
          ? `${title} - ${config.meta.title}`
          : `${config.meta.title} - ${config.meta.slogan || ""}`
      }
    </title>
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={config.meta.keywords} />
    <meta name="description" content={description || config.meta.description} />
    {noindex && <meta name="robots" content="noindex, nofollow" />}

    <!-- Canonical & hreflang -->
    <link rel="canonical" href={canonicalURL} />
    {
      !noindex &&
        langs.map((langCode) => {
          const href = new URL(
            `/${langCode}${Astro.url.pathname.replace(/^\/(en|zh)/, "")}`,
            Astro.site,
          ).href
          return <link rel="alternate" hreflang={langCode} href={href} />
        })
    }
    {
      !noindex && (
        <link
          rel="alternate"
          hreflang="x-default"
          href={
            new URL(
              `/${defaultLanguage}${Astro.url.pathname.replace(/^\/(en|zh)/, "")}`,
              Astro.site,
            ).href
          }
        />
      )
    }

    <!-- DNS 预解析和预连接 -->
    <link rel="preconnect" href="https://www.google-analytics.com" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title || config.meta.title} />
    <meta
      property="og:description"
      content={description || config.meta.description}
    />
    <meta property="og:image" content={ogImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@daolanx" />
    <meta property="twitter:url" content={permalink} />
    <meta property="twitter:title" content={title || config.meta.title} />
    <meta
      property="twitter:description"
      content={description || config.meta.description}
    />
    <meta property="twitter:image" content={ogImageURL} />

    <script is:inline>
      const theme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light")
      if (theme === "dark") {
        document.documentElement.classList.add("dark")
      }
    </script>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="cb2062a0-008d-4ce2-b29e-b22f43f564d6"></script>
    {
      config.googleAnalyticsId && (
        <GoogleAnalytics id={config.googleAnalyticsId} />
      )
    }
  </head>
  <body
    class="mx-auto max-w-7xl bg-stone-100 px-6 text-gray-800 dark:bg-slate-900 dark:text-gray-100"
  >
    <slot />
  </body>
</html>
